/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html, body {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 2rem auto;
  width: min(350px, 80%);
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input, select, button {
  border: 1px solid black;
  border-radius: 5px;
  color: 1px solid black;
  font-size: 1.0rem;
  padding: 0.2rem;
}

button {
  padding: 0.4rem;
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.touched:required:valid {
  border: 1px solid black;
}

.touched:required:invalid {
  border: 1px solid red;
}

label {
  font-size: 1.0rem;
}

.error {
  font-size: 0.9rem;
  color: red;
}